@model ITSUPPORTTICKETSYSTEM.ViewModels.AuthLogin

<div id="forgot-form" class="hide">
    <h2 class="heading">Forgot Password</h2>
    <p>Enter your username details and your new password to reset the password.</p>
    
        @using (Html.BeginForm())
        {
              @Html.AntiForgeryToken()
                @Html.ValidationSummary()
            <div style="margin: 0; padding: 0; display: inline"><input name="utf8" type="hidden" value="✓"><input name="authenticity_token" type="hidden" value="Q0wZHZlvE4hoAumMwSyNLIIOzdqn8kz90KAvtxrFuJo=">
            </div>
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        @*<input class="required special" id="email" name="email" placeholder="Your e-mail address" type="text" value="" aria-required="true">*@
                        @Html.TextBoxFor(f => f.Username, new {@class = "required special", type = "text", @placeholder = "Enter your User Name"})

                    </div>
                </div>
                <br>
                <div class="control-group">
                    <div class="controls">
                        @Html.TextBoxFor(f => f.Password, new {@class = "required special", type = "password", @placeholder = "Enter New Password"})
                    </div>
                </div>
                <br>
            </fieldset>
            <div class="control-group">
                <button type="button" data-toggle-dom="#login-form, #forgot-form" class="btn"> Cancel </button>
                <button type="submit" class="btn btn-primary pull-right"> Reset my password </button>
            </div>
        }
 
</div>